{% extends 'contentbase.html' %}
{% include 'base.html' %}

{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

  <div class="row">
      <div class="mx-auto mt-5">
          <h1 class="medium">{% trans "Sign in with GitHub, or with your Dawlab account." %}</h1>                                        
      </div>
  </div>
  <div class="m-1">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}    
  </div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<form class="login" id="login_form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="primaryAction m-1" type="submit">{% trans "Dawlab Sign In" %}</button>
  <a class="button secondaryAction small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>  
</form>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction m-1 p-" type="submit">{% trans "Create Account" %} &raquo;</button>
</form>

{% endblock %}