{% extends 'contentbase.html' %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="mx-auto mt-5 mb-4">
            <h1>Welcome {{ user.username }}!!!</h1>
        </div>
    </div>
    
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Logos and Branding</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Style Guide</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active container" id="home">
            <div class="row">

                <div class="col-md-12 border">
                    <img class="logo navbar-brand" src="{% static "./img/Dawlab_classic.png" %}">
                    <div class="row">
                        <div class="col-md-6">
                            <p>General purpose logo.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 border">    
                    <img class="logo navbar-brand" src="{% static "./img/Dawlab_classic_black_and_white.png" %}">
                    <div class="col-md-6">
                        <p>General purpose logo, black and white. Used for black ink prints.</p>                            
                    </div>
                </div>

                <div class="col-md-12 border">     
                    <img class="logo navbar-brand" src="{% static "./img/Dawlab_classic_with_background.png" %}">
                    <div class="col-md-6">
                        <p>General purpose logo, with white background. Used if the logo colors blend in with background colors.</p>                                                
                    </div>
                </div>

                <div class="col-md-12 border">     
                    <img class="logo navbar-brand" src="{% static "./img/Dawlab_crunched.png" %}">
                    <div class="col-md-6">
                        <p>Special logo in two pieces, centered. Used for app store icon.</p>                                                                    
                    </div>
                </div>

                <div class="col-md-12 border">       
                    <img class="logo navbar-brand" src="{% static "./img/Dawlab_justified_left_black_and_white.png" %}">
                    <div class="col-md-6">
                        <p>General purpose logo in two pieces, justified left and black and white. Used if not enough horizontal space and logo colors blend in with background colors.</p>                            
                    </div>
                </div>

                <div class="col-md-12 border">
                    <img class="logo navbar-brand" src="{% static "./img/Dawlab_justified_left.png" %}">
                    <div class="col-md-6">
                        <p>General purpose logo in two pieces, justified left and black and white. Used if not enough horizontal space. Also used for browser website icon.</p>                                                
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane container mt-5" id="menu1">
            <ul>
                <li>
                    Logo typeface left font: Sans Bold
                        
                </li>
                <li>
                    Logo typeface right font: URW Gothic Semi-Bold
                </li>
                <li>
                    Logo size proportion between left and right typeface: 76:75
                        
                </li>
                <li>
                    Logo red: 4d0000 
                </li>
                <li>
                    Logo blue: 004857
                </li>
            </ul>
        </div>
    </div>
    {% else %}
        <h1 class="text-center m-5">Please <a href="{% url 'authentication' %}">log in</a>.</h1>
    {% endif %}
{% endblock %}