{% extends 'contentbase.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="mx-auto">
        <h1>{{employee.first_name}} {{employee.last_name}}</h1>        
    </div>
</div>

<div class="row">
    <div class="mx-auto">
        <h5>{{employee.job_title}}</h5>        
    </div>
</div>

<div class="row">
    <div class="offset-md-3 col-md-6 small">
        <h5>About me</h5>        
        <p>{{employee.bio}}</p>
    </div>
</div>

<div class="row">
    <div class="offset-md-3 col-md-6 small">
        <h5>Skills</h5>
        <p>{{employee.skills}}</p>
    </div>
</div>

<div class="row">
    <div class="mx-auto">
        <a href="{% url 'team' %}" class="btn btn-link mx-auto">Back</a>        
    </div>
</div>

{% endblock %}