body{
    font-family: "Arial", Times, serif;
    font-size:1.5em;
    color:black;
}

h1{
    font-size:1.5em;
}

.card{
    width:11em;
}

.card-text{
    font-size:.5em;
}

.float-center{
    float:center;
}

.small{
    font-size:.3em;
}