body{
    font-family: "Arial", Times, serif;
    font-size:1.5em;
}

h1{
    font-size:1.5em;
}

.logo{
    max-width: 20em;
    max-height: 12em;
}

.card{
    width:10em;
    height:12.5em;
}

.card-title{
    margin:0px;
    padding:0px;
}

.card-text{
    font-weight:bold;
    font-size:.5em;
}

.float-center{
    float:center;
}

.small{
    font-size:.5em;
}

.medium{
    font-family: "Arial", Times, serif;
    font-size:1em;
}

li{
    list-style-type: none;
}
